body {
    margin: 0;
}
.container {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-color: #ffffff;
    min-height: calc(100vh - 70px)
}
.border {
    background-color: #ffffff;
    border-bottom: #cccccc 2px solid;
}
.bar {
    background-color: #ffffff;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.bar:after {
    content: "";
    display: block;
    clear: both;
}
.content {
    background-color: #ffffff;
    border: #dddddd 2px solid;
    clear: both;
    width: 960px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    line-height: 2rem;
}
.content:after {
    content: "";
    display: block;
    clear: both;
}
h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    border-bottom: #dddddd 2px solid;
    margin: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
.name {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 20px;
    margin: 0;
    float: left;
    border: none;
}
a {
    float: left;
    padding: 30px;
    color: #777777
}
p {
    padding: 30px;
}
form {
    padding: 30px;
    color: #777777
}
.nav {
    padding: 29px;
    float: right;
    margin: 0;
}
footer {
    background-color: #666666;
    height: 50px;
    border-top: #4aaaa5 5px solid;
}
input {
    float: left;
}